$black: #212121;
$light-grey: #e0e0e0;
$grey: #9e9e9e;
$grey-hover: #e0e0e0f3;
$highlight-grey: #fafafa;

$primary: #f05d37;
$primary-hover: #f05d3734;
$primary-gradient-up: #ef7d00;
$primary-gradient-down: #f13f6a;
